@import "tailwindcss";

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Playfair Display', serif;
    background-color: white;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* IE / old Edge */
* {
  -ms-overflow-style: none;
}
